.fight {
  position: absolute;
  left: 5rem;
  font-family: "Playfair Display SC", serif;
  display: block;
  height: 6rem;
  width: 6rem;
  font-size: 1.3rem;
  background-color: $color-background-type;
  border-radius: 100%;
  border: $border-main;
  color: $color-main;
  letter-spacing: 2px;
  font-weight: bold;
  -webkit-appearance: none;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  padding: 0.5rem;
}

.fight:hover {
  transform: rotate(20deg) scale(1.2);
  background-color: $color-background;
}
