.fight {
  @include text($fontsize-main, bold, $color-main);
  position: absolute;
  left: -3rem;
  display: block;
  height: 6rem;
  width: 6rem;
  background-color: $color-background-type;
  border-radius: 100%;
  border: $border-main;
  letter-spacing: 2px;
  -webkit-appearance: none;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  padding: 0.5rem;
  &:hover {
    transform: rotate(20deg) scale(1.2);
    background-color: $color-background;
  }
  @media #{$break-med} {
    left: -12rem;
    height: 8rem;
    width: 8rem;
    font-size: 1.8rem;
  }
}
