.round-tracker {
  position: absolute;
  left: 5.5rem;
  top: -0.5rem;
  display: flex;
  border: $border-main;
  border-radius: $border-radius;
  align-items: center;
  flex-direction: column;
  background-color: $color-background-type;
  text-align: center;
  border: none;
  background: rgba(0, 0, 0, 0);
  h2 {
    letter-spacing: 0.2rem;
    margin: 0.5rem;
  }
  .decrement {
    margin-right: -1rem;
    padding-right: 1.5rem;
    padding-left: 0.5rem;
  }
  .increment {
    margin-left: -1rem;
    padding-left: 1.5rem;
    padding-right: 0.5rem;
  }
  @media #{$break-med} {
    position: absolute;
    left: 15rem;
  }
}

.round-actions {
  display: flex;
}

.round-action {
  font-family: $fontfamily-playfair;
  font-size: 1.15em;
  font-weight: bold;
  color: $color-text;
  display: inline-block;
  cursor: pointer;
}

.round-score {
  font-family: $fontfamily-playfair;
  z-index: 1;
  text-align: center;
  font-size: 3rem;
  max-width: 4rem;
  max-height: 3.25rem;
  font-size: 1.5rem;
  padding: 1rem;
  border-radius: 5px;
  background-color: $color-background;
  text-shadow: none;
  color: $color-text;
  border: $border-main;
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  -moz-appearance: textfield;
}
