.type-icon {
  max-width: 0.3rem;
  max-height: 0.3rem;
  align-self: center;
  justify-self: center;
  padding: 0.6rem;
  margin: 2rem;
  margin-bottom: 3rem;
  margin-left: auto;
  @media #{$break-med} {
    max-width: 2rem;
    max-height: 2rem;
    padding: 2rem;
  }
}
