.app-board {
  position: relative;
  font-family: "Playfair Display SC", serif;
  background: url(../components/images/IN_mobile_background_5.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: contain;
  width: 60vw;
  height: 60rem;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  h1 {
    margin: auto;
    margin-top: 1rem;
  }
}
