.app-board {
  position: relative;
  background: url(../components/images/IN_mobile_background_5.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: contain;
  width: 60vw;
  height: 60rem;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  h1 {
    margin: auto;
    margin-top: 1rem;
  }
  @media #{$break-med} {
    min-width: 100vw;
    min-height: 60rem;
    background-image: url(../components/images/INit_background_full.png);
    background-repeat: no-repeat;
    background-size: 80vw 120vh;
    h1 {
      margin-top: 2rem;
    }
  }
}
