.app-board {
  position: relative;
  background: url(../components/images/mob_top.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: contain;
  overflow-y: hidden;
  width: 20rem;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  h1 {
    margin: auto;
    margin-top: 1rem;
  }
  @media #{$break-med} {
    min-width: 60rem;
    min-height: 10rem;
    background-image: url(../components/images/full_top.png);
    background-repeat: no-repeat;
    h1 {
      margin-top: 2rem;
    }
  }
}
