*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  position: relative;
  background-color: $color-background;
  display: flex;
  flex-direction: column;
  width: 100vw;
  background: url(../components/images/background_IN.png);
  overflow-x: hidden;
  background-repeat: no-repeat;
  background-position: fixed;
  font-family: $fontfamily-playfair;
}

h1 {
  @include text(2rem, bold, $color-text);
  letter-spacing: 0.3rem;
  font-size: 2rem;
  padding: 1rem;
  padding-bottom: 5rem;
  background: url(../components/images/init_Underline3.png);
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 5rem;
  @media #{$break-med} {
    font-size: 3rem;
  }
}

h2 {
  color: $color-text;
}

div {
  color: $color-text;
}
