/* ADD CHARACTER FORMS */

.add-character {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  justify-items: center;
  align-items: center;
}

.character-name-input {
  font-family: "Playfair Display SC", serif;
  flex-grow: 1;
  height: 3rem;
  width: 15rem;
  font-size: 1.3rem;
  margin-top: 2rem;
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.4);
  border-style: none;
  text-shadow: none;
  color: #fffbfb;
  letter-spacing: 2px;
  outline: none;
}

input[type="submit"] {
  flex-grow: 1;
  font-family: "Playfair Display SC", serif;
  display: block;
  max-height: 3rem;
  font-size: 1.32rem;
  margin: auto;
  background-color: rgba(0, 0, 0, 1);
  border-radius: 13px;
  border: solid #c53131 2px;
  color: #fffbfb;
  letter-spacing: 2px;
  font-weight: bold;
  text-shadow: none;
  text-transform: uppercase;
  cursor: pointer;
  align-content: center;
  justify-content: center;
  padding: 1rem;
  -webkit-appearance: none;
}

button,
input[type="submit"] {
  outline: none;
  transition: background-color 0.2s ease, color 0.2s ease;
}

input[type="submit"]:hover {
  transform: scale(1.1);
  transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

input[type="text"]:focus {
  background-color: rgba(0, 0, 0, 0.4);
}
