/* ADD CHARACTER FORMS */

.add-character {
  @include center();
  background-image: url(../components/images/mob_bottom.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: 20rem 100vh;
  height: 40rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  @media #{$break-med} {
    @include center;
    background-image: url(../components/images/full_bottom.png);
    background-size: contain;
    min-width: 60rem;
    min-height: 10rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10rem 10rem 5rem;
    justify-items: center;
  }
}

.character-name-input {
  @include text($fontsize-main, bold, $color-text);
  font-family: $fontfamily-playfair;
  height: 3rem;
  width: 15rem;
  margin-top: 2rem;
  padding: 10px;
  border-radius: 5px;
  background-color: $color-background-input;
  border-style: none;
  letter-spacing: 2px;
  &:focus {
    background-color: $color-background-input-active;
  }
  @media #{$break-med} {
    height: 3rem;
    width: 20rem;
    font-size: 1.5rem;
    margin: 0rem;
  }
}

.add-character-button {
  @include text($fontsize-main, bold, $color-text);
  display: block;
  max-height: 3rem;
  margin: 1.5rem;
  background-color: $color-background;
  border: $border-main;
  border-radius: $border-radius;
  letter-spacing: 2px;
  cursor: pointer;
  padding: 0.5rem;
  -webkit-appearance: none;
  grid-column: 1 / span 2;
  &:hover {
    transform: scale(1.1);
    transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
}

.error {
  top: 16rem;
  max-width: 15rem;
  text-align: center;
  color: $color-main;
  background: $color-background-type;
  border: $border-main;
  border-radius: $border-radius;
  padding: 0.5rem;
  @media #{$break-med} {
  }
}
