/* ADD CHARACTER FORMS */

.add-character {
  @include center();
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.character-name-input {
  @include text($fontsize-main, bold, $color-text);
  font-family: $fontfamily-playfair;
  height: 3rem;
  width: 15rem;
  margin-top: 2rem;
  padding: 10px;
  border-radius: 5px;
  background-color: $color-background-input;
  border-style: none;
  letter-spacing: 2px;
  &:focus {
    background-color: $color-background-input-active;
  }
}

.add-character-button {
  @include text($fontsize-main, bold, $color-text);
  display: block;
  max-height: 3rem;
  margin: auto;
  background-color: $color-background;
  border: $border-main;
  border-radius: $border-radius;
  letter-spacing: 2px;
  cursor: pointer;
  padding: 0.5rem;
  -webkit-appearance: none;
  &:hover {
    transform: scale(1.1);
    transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
}
