.character-cell {
  display: flex;
  border: $border-main;
  letter-spacing: 2px;
  background-color: $color-background-cell;
  height: 4rem;
  max-width: 18rem;
  margin: auto;
  h2 {
    @include text(1.5rem);
    margin: -0.8rem 0 0rem 2rem;
    max-width: 5rem;
  }
  .cell_info {
    display: flex;
    margin-left: auto;
  }
}

.remove-player {
  @include text(1.15rem, $color: $color-main);
  z-index: 1;
  border: none;
  cursor: pointer;
  background: none;
}

.initiative-display {
  @include text(1.6rem, $color: $color-text);
  border: $border-main;
  max-width: 3rem;
  min-width: 3rem;
  background-color: $color-background-type;
  padding: 0.5rem;
  border-radius: $border-radius;
  align-self: center;
  text-align: center;
  margin-left: auto;
  margin-right: 1rem;
}

.concentration {
  z-index: 2;
  display: flex;
  flex-direction: column;
  color: $color-background;
  margin-left: auto;
  text-align: center;
}

.concentration_radio {
  height: 1rem;
  min-width: 1rem;
}

.character-cell--active {
  animation: glow 800ms ease-out infinite alternate;
  height: 4rem;
}

@keyframes glow {
  0% {
    border-color: $color-main;
    box-shadow: 0 0 1px $color-glow-start, inset 0 0 10px $color-glow-start;
  }
  100% {
    border-color: $color-main;
    box-shadow: 0 0 1px $color-glow-end, inset 0 0 30px $color-glow-end;
  }
}
