.character-cell {
  font-family: "Playfair Display SC", serif;
  display: flex;
  border: solid 2px $color-main;
  letter-spacing: 2px;
  background-color: $color-background-cell;
  height: 4rem;
  max-width: 20rem;
  margin: auto;
}

.remove-player {
  z-index: 1;
  font-size: 1.15em;
  border: none;
  outline: none;
  color: $color-main;
  cursor: pointer;
  background: none;
}

.character-cell h2 {
  font-size: 1.5rem;
  margin: -0.8rem 0 0rem 2rem;
  max-width: 5rem;
}

.initiative-display {
  font-family: "Playfair Display SC", serif;
  border: $border-main;
  max-width: 3rem;
  min-width: 3rem;
  font-size: 1.6rem;
  color: $color-text;
  background-color: $color-background-type;
  padding: 0.3rem;
  border-radius: 13%;
  align-self: center;
  text-align: center;
  margin-left: auto;
  margin-right: 1rem;
}

.concentration {
  z-index: 2;
  display: flex;
  flex-direction: column;
  color: $color-background;
  margin-left: auto;
  text-align: center;
}

.concentration_radio {
  height: 1rem;
  min-width: 1rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.character-cell--active h2 {
  font-size: 1.5rem;
}

.character-cell--active {
  animation: glow 800ms ease-out infinite alternate;
  height: 4rem;
  border: solid;
}

@keyframes glow {
  0% {
    border-color: $color-main;
    box-shadow: 0 0 1px $color-glow-start, inset 0 0 10px $color-glow-start,
      0 2px 0 $color-background;
  }
  100% {
    border-color: $color-main;
    box-shadow: 0 0 1px $color-glow-end, inset 0 0 30px $color-glow-end,
      0 2px 0 $color-background;
  }
}

.type-icon {
  max-width: 0.3rem;
  max-height: 0.3rem;
  align-self: center;
  justify-self: center;
  padding: 0.6rem;
  margin: 2rem;
  margin-bottom: 3rem;
  margin-left: auto;
}

.cell_info {
  display: flex;
  margin-left: auto;
}
