.init-input {
  display: flex;
  border: $border-main;
  border-radius: 13px;
  padding: 0rem 2rem 1rem 2rem;
  align-items: center;
  width: 14rem;
  flex-direction: column;
  margin: 1.5rem;
  background-color: $color-background-type;
  margin-left: auto;
  margin-right: auto;
  h2 {
    letter-spacing: 0.2rem;
    margin: 0.1rem;
  }
}

.init-actions {
  display: flex;
  padding: 1rem;
}

.init-action {
  font-family: "Playfair Display SC", serif;
  border: none;
  font-size: 1.15em;
  font-weight: bold;
  color: $color-text;
  display: inline-block;
  padding: 20px 20px;
  cursor: pointer;
  outline: none;
}

.init-score {
  font-family: "Playfair Display SC", serif;
  flex-grow: 1;
  z-index: 1;
  text-align: center;
  font-size: 3rem;
  max-width: 5rem;
  min-height: 4.25rem;
  font-size: 1.5rem;
  padding: 10px;
  border-radius: 5px;
  background-color: $color-background;
  border-style: none;
  text-shadow: none;
  text-transform: uppercase;
  color: $color-text;
  border: $border-main;
  outline: none;
  -moz-appearance: textfield;
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.increment {
  background: $color-increment;
  border: $border-main;
  border-radius: 10%;
  border-left: none;
  margin-left: -1rem;
  padding-left: 2rem;
  padding-right: 1rem;
  &:hover {
    background: $color-increment-hover;
  }
}

.decrement {
  background: $color-decrement;
  border: $border-main;
  border-radius: 10%;
  border-right: none;
  margin-right: -1rem;
  padding-right: 2rem;
  padding-left: 1rem;
  &:hover {
    background: $color-decrement-hover;
  }
}
