.type-selector {
  flex-grow: 1;
  border: $border-main;
  border-radius: 13px;
  color: $color-text;
  width: 14rem;
  text-align: center;
  margin: auto;
  background-color: $color-background-type;
  margin-bottom: 2rem;
  h2 {
    font-size: 2rem;
    margin: 0;
  }
  label {
    font-size: 1rem;
  }
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.5rem;
}
