@media (min-width: 852px) {
  h1 {
    font-size: 3rem;
  }

  /* APP MAIN */

  .app-board {
    min-width: fit-content;
    min-height: 60rem;
    background-image: url(../components/images/INit_background_full.png);
    background-repeat: no-repeat;
    background-size: 80vw 120vh;
    overflow: hidden;
  }
  .app-board h1 {
    margin-top: 2rem;
  }

  .character-cell {
    min-width: 76vw;
    font-size: 1.2rem;
  }

  .character-cell h2 {
    margin: auto;
    display: inline-block;
    margin-left: 1rem;
    font-size: 2rem;
  }

  .cell_info {
    display: flex;
    margin-left: auto;
    min-width: 15vw;
  }

  .initiative-display {
    min-width: 5rem;
    font-size: 2rem;
    color: white;
    justify-content: space-between;
  }

  .round-tracker {
    position: absolute;
    right: 0rem;
    top: 1rem;
  }

  .fight {
    position: absolute;
    min-height: 7rem;
    min-width: 7rem;
    font-size: 1.6rem;
  }

  /* ADD CHARACTER FORMS */

  .add-character {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    margin-left: 8rem;
    margin-right: 8rem;
    margin-top: 2rem;
  }

  .character-name-input {
    height: 3rem;
    width: 20rem;
    font-size: 1.5rem;
    margin: 0rem;
  }

  input[type="submit"] {
    margin-top: -3rem;
  }

  input[type="text"]:focus {
    background-color: rgba(0, 0, 0, 0.4);
  }

  .fight {
    height: 6rem;
    width: 6rem;
    font-size: 1.5rem;
    margin: -4rem auto 2rem 12rem;
    padding: 0.5rem;
  }

  .init-input {
    padding: 0rem 2rem 1rem 2rem;
    width: 12rem;
    margin: 0rem;
  }

  .init-score {
    font-size: 3rem;
    max-width: 5rem;
    min-height: 4.25rem;
    font-size: 1.5rem;
    padding: 10px;
  }

  .type-selector {
    width: 12rem;
    text-align: center;
    margin: 0rem;
  }

  .type-selector h2 {
    font-size: 2rem;
  }

  .buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 0.3rem;
    padding: 0.5rem;
    justify-items: left;
    align-items: center;
    font-size: 1.5rem;
  }

  .type-icon {
    max-width: 2rem;
    max-height: 2rem;
    padding: 2rem;
  }
}

@media (min-width: 1100px) {
  .add-character {
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
  }

  .round-tracker {
    right: 12rem;
  }
}
